[submodule "shlr/flatbuffers"]
	path = shlr/flatbuffers
	url = https://github.com/firedancer-io/flatbuffers.git
	branch = v25.9.23-patches
[submodule "shlr/protosol"]
	path = shlr/protosol
	url = https://github.com/firedancer-io/protosol.git
	branch = v5.1.0
